body{
    margin: 0;
    font-family: arial;
}

.grid{
    display: grid;
    grid-template-columns: minmax(120px, 200px) minmax(240px, 1fr) 80px;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
    'logo search menu'
    'gallery gallery gallery'
    'contact contact contact'
    'futerek futerek futerek';

    @media (min-width: 1024px) {
    grid-template-columns: minmax(300px, auto) 1fr;
    grid-template-rows: auto auto auto 1fr auto auto;
    grid-template-areas:
    'logo gallery'
    'menu gallery'
    'search gallery'
    '. gallery'
    'contact gallery'
    'futerek futerek';
    }


    // kontener
    max-width: 1240px;
    min-height: 100vh;
    margin: 0 auto;

}

.logo{
    height: 100px;
    grid-area: logo;
    // grid-column-start: 1;
    // grid-column-end: 2;
    // grid-row-start: 1;
    // grid-row-end: 2;
    background-color: red;
    // @media (min-width: 1024px){
    //     grid-area: logo;
        
    // }
    
}

.search{
    grid-area: search;
    // grid-column: 2/3;
    // grid-row: 1/2;
    background-color: green;
}

.menu{
    grid-area: menu;
    // grid-column: -1/-2;
    // grid-row: 1;
    background-color: yellow;
}

.gallery{
    grid-area: gallery;
    // grid-column: 1/-1;
    // grid-row: 2/3;
    background-color: blueviolet;

    // kontener
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
    gap: 15px;
    padding: 120px 15px 15px;
    position: relative;

    img{
        width: 100%;
    }

    h1{
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: rgba($color: #000000, $alpha: 0.2)

    }
}

.contact{
    grid-area: contact;
    // grid-area: 3/1/4/-1;
    height: 60px;
    background-color: aquamarine;
}

.footer{
grid-area: futerek;
height: 100px;
background-color: azure;
}